body {
	background-image: url(img/texture.png);
	background-attachment: fixed;
	margin: 0;
}

nav {
	display: table;
	width: 100%;
	position: fixed;
	box-shadow: 0 5px 10px dimgrey;
}

nav a {
	display: table-cell;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	padding: 20px 0;
}

nav a:nth-child(1) {
	background-color: black;
}

nav a:nth-child(2) {
	background-color: purple;
}

nav a:nth-child(3) {
	background-color: darkseagreen;
}

img {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	width: 400px;
}

.students {
	position: absolute;
	top: 100%;
}